$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  margin-top:30px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 70px;
  }


html {
  body {
    overflow-y: scroll;
    pre {
      margin:15px 0;
      padding:0;
      border-width:0;
    }
    
    #return-to-top {
      position: fixed;
      cursor: pointer;
      bottom: 20px;
      right: 20px;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.7);
      width: 50px;
      height: 50px;
      display: block;
      text-decoration: none;
      -webkit-border-radius: 35px;
      -moz-border-radius: 35px;
      border-radius: 35px;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    #return-to-top i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 19px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    #return-to-top:hover {
        background: rgba(0, 0, 0, 0.9);
    }
    #return-to-top:hover i {
        color: #fff;
        top: 5px;
    }
    
  }
}
.show-grid {
  margin-left:0;
  margin-right:0;
}
.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

.card {
  box-shadow: 1px 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  margin-bottom:21px;
  
  .color.rx-white-bg {
    border-bottom:1px solid #dadada;
  }

  .color-family {
    .hex-lt code {color: #58585a;}
    .hex-dk code {color: #fff;}
    > div {
      width:50%;
      display:inline-block;
      float:left;
      padding:9px;

      code {
        background:none;
      }
    }
  }
  h3 {
    padding:15px 15px 0 15px;
    margin:0;
    font-weight:normal;
    font-size:1.5em;
  }
  p {
    padding:15px;
  }
  .color {
    height:75px;
    padding:9px;
    code {
      background:none;
      color:#fff;
    }
  }
  .color.rx-white-bg code,
  .color.rx-lt-grey-bg code,
  .color.rx-md-grey-bg code {
    color:#58585a;
  }

  .hljs {
    background:#fff;
    .hljs-id {
      color:#066cb6;
    }
  }
}