<div class="container-fluid cat-pages">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" infinite-scroll='loadMore()' infinite-scroll-distance='0'>
                <div class="row entry" ng-repeat="entry in entries | orderBy:'fields.weight' | limitTo: totalDisplayed"
                ng-if="entry.fields.subcategory == whichSubCat">
                    <div class="col-xs-12" ng-init="index = entries.indexOf(entry) ++1">

                        <div style="min-height:300px;">
                            <!--UNCOMMENT BELOW TO SEE JSON OBJECT-->
                            <!--<pre>{{ entry | json }}</pre>-->
                            <br><br><br>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <h2 class="entry-title">{{ entry.fields.name | uppercase }}</h2>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <small class="pull-right text-muted edited-info">
                                        Last
                                        Updated {{
                                        entry.sys.updatedAt | date: 'longDate' }} by {{ entry.fields.lastEditedBy }}
                                    </small>
                                </div>
                            </div>
                            <hr class="first-hr">
                            <div class='iiMdPreview' text='{{entry.fields.body}}'></div>
                            <br>
                            <div class="info info-{{entry.fields.infoTagA}}" ng-if="entry.fields.infoTagA">
                                <div class="row">
                                    <div class="col-xs-2 title-wrapper">
                                        <div class="title">
                                            <span class="i-wrap">
                                                <i class="material-icons hybris">&#xE322;</i>
                                                <i class="material-icons link">&#xE157;</i>
                                                <i class="material-icons warning">&#xE000;</i>
                                                <i class="material-icons info">&#xE88E;</i>
                                                <i class="material-icons code">&#xE86F;</i>
                                                <i class="material-icons note">&#xE06F;</i>
                                                <i class="material-icons deprecated">&#xE8E3;</i>
                                                <i class="material-icons mobile">&#xE325;</i>
                                                <i class="material-icons tablet">&#xE331;</i>
                                                <i class="material-icons desktop">&#xE30B;</i>
                                            </span>
                                            <strong>{{entry.fields.infoTagA}}</strong>
                                        </div>
                                    </div>

                                    <div class="col-xs-10 text iiMdPreview" text="{{entry.fields.infoTextA}}"></div>
                                </div>
                            </div>
                            <div class="info info-{{entry.fields.infoTagB}}" ng-if="entry.fields.infoTagB">
                                <div class="row">
                                    <div class="col-xs-2 title">
                                        <span class="i-wrap">
                                            <i class="material-icons hybris">&#xE322;</i>
                                            <i class="material-icons link">&#xE157;</i>
                                            <i class="material-icons warning">&#xE000;</i>
                                            <i class="material-icons info">&#xE88E;</i>
                                            <i class="material-icons code">&#xE86F;</i>
                                            <i class="material-icons note">&#xE06F;</i>
                                            <i class="material-icons deprecated">&#xE8E3;</i>
                                            <i class="material-icons mobile">&#xE325;</i>
                                            <i class="material-icons tablet">&#xE331;</i>
                                            <i class="material-icons desktop">&#xE30B;</i>
                                        </span>
                                        <strong>{{entry.fields.infoTagB}}</strong>
                                    </div>
                                    <div class="col-xs-10 text iiMdPreview" text="{{entry.fields.infoTextB}}"></div>
                                </div>
                            </div>
                            <div class="info info-{{entry.fields.infoTagC}}" ng-if="entry.fields.infoTagC">
                                <div class="row">
                                    <div class="col-xs-2 title">
                                        <span class="i-wrap">
                                            <i class="material-icons hybris">&#xE322;</i>
                                            <i class="material-icons link">&#xE157;</i>
                                            <i class="material-icons warning">&#xE000;</i>
                                            <i class="material-icons info">&#xE88E;</i>
                                            <i class="material-icons code">&#xE86F;</i>
                                            <i class="material-icons note">&#xE06F;</i>
                                            <i class="material-icons deprecated">&#xE8E3;</i>
                                            <i class="material-icons mobile">&#xE325;</i>
                                            <i class="material-icons tablet">&#xE331;</i>
                                            <i class="material-icons desktop">&#xE30B;</i>
                                        </span>
                                        <strong>{{entry.fields.infoTagC}}</strong>
                                    </div>
                                    <div class="col-xs-10 text iiMdPreview" text="{{entry.fields.infoTextC}}"></div>
                                </div>
                            </div>
                            <br>

                            <div>
                                <iframe height='{{ entry.fields.codepenOptions[0] }}'
                                scrolling='no'
                                ng-src='{{ entry.fields.codepenOptions[1] }}'
                                frameborder='no'
                                allowtransparency='true'
                                allowfullscreen='true'
                                style='width: 100%;'>
                                </iframe>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>