<div class="container-fluid bucket-page" ui-view>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ whichBucket | underscoreless }}</h1>

                <ul class="list-unstyled">
                    <span ng-repeat="entry in entries" ng-if="entry.sys.contentType.sys.id == 'config'">
                        <span ng-repeat="object in entry" ng-if="object.config == 'navconfig'">
                            <span ng-repeat="(key,value) in object" ng-if="key == whichBucket">
                                <li ng-repeat="subsection in value">
                                    <a ui-sref="bucketDetail({bucketName:whichBucket, subBucketName: subsection })">{{ subsection | underscoreless }}</a>
                                </li>
                            </span>
                        </span>
                    </span>
                </ul>

            </div>
        </div>
    </div>
</div>
