<div class="container-fluid cat-pages">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="cat-title">{{ whichCat }}</h1>
                <br>
                <!--<h2>{{ whichSubCat }}</h2>-->
            </div>
            <div class="col-xs-12">
                <!-- Nav tabs -->



                    <span ng-repeat="category in entries | orderBy:'fields.weight'" ng-if="category.fields.name == whichCat">
                        <uib-tabset class="tab-animation" ng-if="category.fields.subcategories.length > 0">
                            <uib-tab
                                     ng-if="category.fields.name == whichCat"
                                     ng-repeat="subcat in category.fields.subcategories | orderBy:'fields.weight'"
                                     ui-sref-active="active"
                                     heading="{{subcat}}"
                                     ui-sref="categories.catDetail({catName:category.fields.name, subCatName: subcat })">

                                <div class="entry" ng-repeat="entry in entries"
                                     ng-hide="entry.fields.subcategory.length < 0"
                                     ng-if="entry.fields.subcategory == whichSubCat">

                                    <!--UNCOMMENT BELOW TO SEE JSON OBJECT-->
                                    <!--<pre>{{ entry | json }}</pre>-->

                                    <br><br><br>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <h2 class="entry-title">{{ entry.fields.name | uppercase }}</h2>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <small class="pull-right text-muted edited-info">
                                                Last
                                        Updated {{
                                        entry.sys.updatedAt | date: 'longDate' }} by {{ entry.fields.lastEditedBy }}
                                            </small>
                                        </div>
                                    </div>
                                    <hr class="first-hr">
                                    <div class='iiMdPreview' text='{{entry.fields.body}}' />
                                    <br>
                                    <div>
                                        <iframe height='{{ entry.fields.codepenHeight }}' scrolling='yes'
                                                ng-src='{{ entry.fields.codepen }}' frameborder='yes'
                                                allowtransparency='true' allowfullscreen='true' style='width: 100%;'>
                                        </iframe>
                                    </div>
                                    <br><br>
                                    <hr>
                                </div>

                            </uib-tab>
                        </uib-tabset>
                    </span>


            </div>


        </div>
    </div>
</div>
