        <label for="search:"></label>
        <input ng-model="query" placeholder="enter keywords..." autofocus>
        <div class="style" ng-repeat="style in styles | filter:query">
          <div class="row">
            <div class="col-xs-6">
              <a ui-sref-active="active" class="" ui-sref="main.styleName({styleName: style.view_name})"><h2>{{style.title}}</h2></a>
            </div>
            <div class="col-xs-6 text-right">
              <small class="modDate">Last Modified: {{style.mod_date}}</small>
            </div>
          </div>
          
          <section class="styleInfo">
            <p ng-repeat="description in style.descriptions">{{description}}</p>
            <div ng-include src="style.view_location"></div>
          </section>

          <pre ng-show="style.code_example != ''">{{style.code_example}}</pre>
        </div>  

  
