<div class="container-fluid bucket-page">
    <div class="container entry">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h1 class="entry-title">{{ whichSubBucket | underscoreless | uppercase }}</h1>
            </div>
        </div>
        <div class="row" ng-repeat="entry in entries" ng-if="entry.sys.contentType.sys.id == 'article'">
            <span ng-if="(entry.fields.name | lowercase) == whichSubBucket">
                <div class="col-xs-12 col-sm-6">
                    <h1 class="entry-title">&nbsp;</h1>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <small class="pull-right text-muted edited-info">
                        Last
                        Updated {{ entry.sys.updatedAt | date: 'longDate' }} by {{ entry.fields.lastEditedBy }}
                    </small>
                </div>
                <div class="col-xs-12">
                    <p class="well well-lg lead">{{entry.fields.summary}}</p>
                </div>
                <div class="col-xs-12">
                    {{entry.fields.body}}
                </div>
            </span>
        </div>
    </div>
</div>
